body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.first{
    text-align: center;
    position: relative;

}
img{
    height: 570px;
    width: 570px;
    border-radius: 50%;
    top: 200px;
}
h1{
    font-size: 25px;
    font-weight: bolder;
    color: white;
}


/* --------------------------------------------------------- */
@media screen and (max-width: 600px) {
    body{
        width: 100%;
        height: 700px;
        background: radial-gradient(#fff700,#ee2a7b,rgb(141, 30, 210));
        font-family: Arial, Helvetica, sans-serif;
    }
    img{
        height: 250px;
        width: 250px;
        border-radius: 50%;
        margin-top: 10px;
    }
    .first{
        text-align: center;
        position: relative;
    
    }
    h1{
        margin-top: 130px;
        font-size: 15px;
        font-weight: bolder;
        color: white;
    }
    
}
